<h1 style="size: 90"><b>NEW ARTICLE</b></h1>
<br>
<br>
TITLE<br>
<input type="text" name="t1">
<br>
<br>
TEXT<br>
<textarea rows="10" cols="10"></textarea>
<br><br>
<input type="submit" name="submit" value="SAVE ARTICLE">
